
<div class="hero-unit">

<h1>Welcome Niggas's Be Ballin</h1>
<p>
	You found the homepage for the
	<%= link_to "Niggas who flash their money", "http://onemonthrails.com" %>
	application
</p>

<p>
	<%= link_to "Join the hood", "#", class: "btn btn btn-primary btn-large" %>

</p>

</div>

